.center {
    text-align: center;
    z-index: 99;
    color: white;
    background-color: blue;
}

.center h1 {
    position: fixed;
    top: 30%;
    left : 35%;

    /* min-width: 555px; */
    /* min-height: 500px; */
}

.clock {
    position: fixed;
    top : 35%;
    left : 35%;

    font-size: 200px;
    margin: 0;

    transition: opacity 2s ease-in-out;
}

.clock:hover{
    opacity: 0;
}

#login-fform {
    position: fixed;
    top: 240px;
    left : 500px;
}

input:focus{
    outline: none;
}

input {
    color:white;
    border: 0;
    outline: none;
    background:none;
    border-bottom: solid #aaaaaa 1px;
    font-size: 15px;
}

input::placeholder {
    color:#aaaaaa;
}

#b {
    display: none;
}

#todo {
    position: fixed;
    bottom: 40px;
}